/* .handleAdd {
  background-color: #00bfac;
  color: rgb(229, 226, 226);
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  border-radius: 300px;
} */

/* .handleReduce {
  background-color: #00bfac;
  color: rgb(229, 226, 226);
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  border-radius: 300px;
} */

/* .Guests {
  background-color: whitesmoke;
  padding: 7px 20px;
  border-radius: 13px;
  display: flex;
  margin-right: 10px;
  outline: none;
  border: none;
  margin-bottom: 16px;
  border: 1px solid #eae8e4;
  justify-content: space-between;
  width: 300px;
} */
/* 
.Num {
  font-size: 20px;
  color: gray;
} */
